{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Edit Todo</h1>
    {{ form_start(form_edit) }}
    {{ form_widget(form_edit) }}
    {{ form_end(form_edit) }}
{% endblock %}